[submodule "stm32/stm32f0xx_hal_driver"]
	path = stm32/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver
[submodule "stm32/cmsis_core"]
	path = stm32/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core
[submodule "stm32/cmsis_device_f0"]
	path = stm32/cmsis_device_f0
	url = https://github.com/STMicroelectronics/cmsis_device_f0
[submodule "stm32/cmsis_device_g0"]
	path = stm32/cmsis_device_g0
	url = https://github.com/STMicroelectronics/cmsis_device_g0
[submodule "stm32/stm32g0xx_hal_driver"]
	path = stm32/stm32g0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g0xx_hal_driver
[submodule "stm32/STM32CubeWL"]
	path = stm32/STM32CubeWL
	url = https://github.com/STMicroelectronics/STM32CubeWL
